<!DOCTYPE html>
<html lang="en">
<head>

  <div class="container" ><h1><a href="/" style="text-decoration: none">Simple Airbnb</a></h1>

  <%if session[:logged_in_user] != nil %>
    <% a = User.find(session[:logged_in_user]) %>
    <p>Logged in as <%= a.fullname %></p>
    <a href="/"><button>Home</button></a>
    <a href="/user/<%= a.id%>"><button>My Place</button></a>
    <a href="/logout"><button> Logout</button></a>
    <%else%>
      <a href="/"><button>Home</button></a>
      <a href="/signup"><button>Sign up</button></a>
      <a href="/login"><button>Login</button></a> Sign up/Login to list new properties!
    <%end%>
  </div>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <%= yield %>
</body>
</html>
