<div class="container">

     <form >
        <h3><%= @property.property_name %></h3>
        <p>Description: <%= @property.description %></p>
        <p>Price: <%= @property.price%></p>
        <p>Tags: #showtags </p>
        <p>Created by: <%= @property.user.fullname %></p>
      </form>
       <a href="/" style="text-decoration: none"><button onclick="myFunction()">book this place!</button></a>
       <a href="/"><button>Home</button></a>
</div>

<script>
function myFunction() {
    alert("booking not yet worked out!");
}
</script>