<div class="container">

     <form >
        <h3><%= @property.property_name %></h3>
        <p><%= @property.description %></p>
        <p><%= @property.price%></p>
        <p> #showtags </p>
        <p> #show user who create</p>
      </form>
       <a href="/" style="text-decoration: none"><button onclick="myFunction()">book this place!</button></a>
       <a href="/"><button>Home</button></a>
</div>

<script>
function myFunction() {
    alert("booking not yet worked out!");
}
</script>