<div class="container">

  <p>welcome <%= @user.fullname%></p>

  <form action="/user/<%= @user.id%>" method="post">
    Full Name:
    <br>
    <input type="text" name="input_fullname" value="<%= @user.fullname %>">
    <br>
    Email:
    <br>
    <input type="text" name="input_email" value="<%= @user.email %>">
    <br>
    <br>
    <input type="submit" value="Edit Profile">
  </form>

  <hr>

  <p>list a new property below</p>

  <form action="/property" method="post">
      Place:
      <br>
      <input type="text" name="input_property_name" placeholder="Property name">
      <br>
      Description:
      <br>
      <input type="text" name="input_description" placeholder="Description">
      <br>
      Price:<br><input type="text" name="input_price" placeholder="Price">
      <br>
      Tags:
      <br>
      <input type="text" name="input_tag" placeholder="Tags">
      <br>
      <input type="submit" value="Submit">
  </form>
  <a href="/"><button> Cancel</button></a>

  <hr>

    your properties


</div>